.imageFoster {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    }

.body{
    width: 100%;
    margin: 0;
    background-color: rgba(235, 235, 235, 1);
}

.main {
    width: 100%;
    margin: 0;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url(/src/fonts/JockeyOne-Regular.ttf ) format('truetype');
}

.infos {
    width: 100%;
    margin: 0;
    text-align: center;
}

.infos__expo {
    font-family: 'MyCustomFont';
    font-size: 20px;
    margin: 2px;
    
}

.infos__pratiques {
    font-size: 10px;
    border: 1px solid black;
    text-align: center;
    display: block; /* Add this line */
    margin: auto; /* Add this line */
    width: 50%; /* Add this line */
    margin-bottom: 10px;
}

.billeterie {
    font-size: 18px;
    background-color: rgba(46, 156, 240, 1);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px rgba(46, 156, 240, 1), 0 0 0 1px #ffffff;
    color: white;
    text-align: center;
    display: block; /* Add this line */
    margin: auto; /* Add this line */
    width: 50%; /* Add this line */
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 1rem;
}


/* caroussel*/
.carrousel {
    border: 1px solid black;
    margin-bottom: 30px;
    margin-top: 20px;
}

*{
    box-sizing: border-box;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .carrousel_parent-ecrans {

        display: flex;

        width: 100%;
        overflow-x: scroll; 
        scroll-behavior: smooth; 
        scroll-snap-type: x mandatory; 
        
    }

    a.carrousel_ecran_text {
        text-decoration: none;
    }

    .carrousel_ecran {
        width: 100%;
        flex: none;
        scroll-snap-align: start; 
        text-align: center;
        margin: 10px;
        text-align: center;

    }
    

    a.carrousel_ecran_image {
        width: 70%;
        height: 100%;
        text-decoration: none;
    }

    .carrousel_ecran_text {
        background-color: rgba(53, 53, 53, 1);
        padding: 10px;
        text-decoration: white;
        color : white;
    }

    .carrousel_ecran figure {

        margin: 0;
    }

    .carrousel {
      position: relative;
    }

    .carrousel_btn {
      position: absolute;
      top: 50%;
      top: calc(
        min(500px, 100vw) / 4 * 3 / 2 
     ); 
      transform: translateY(-50%); 
      width: 2rem;
      height: 2rem;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
      border: none;
      display: grid;
      place-content: center;
      color: #fff;
    }

    .carrousel_btn-avant {
      left: 0;
      z-index: 1;
    }

    .carrousel_btn-apres {
      right: 0;
      z-index: 1;
    }

    .carroussel_lien {
        color: black;
        text-decoration: none;
        font-size: 50px;
    }
    .actif {
        transition: all 0.8s ease-in-out;
      color: rgba(46, 156, 240, 1);
     text-decoration: none;
    }
 

.carroussel_liste-liens {

    display: flex;
    justify-content: center; 
   margin: 0;
    padding: 0; 
    list-style: none;
    gap: 1rem;
  }
  
  body.no-scroll {
    overflow: hidden;
}