.header {
    display: flex;
    background-color:rgba(235, 235, 235, 1);
    justify-content: space-between;
    width: 100%;;
    align-items: center;
    margin: 0px;
    margin-bottom: 10px;
}

.header__search {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.header__menu {
    margin: 10px;
}

.header__logo {
    height: auto;
    margin-left: 10px;
}