.tarif {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid ;
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: -10px -10px 0px 1px black
}

.tarif__prix {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.tarif__prix.prix {
text-align: center;
font-size: 30px;
}


.billeterie__petit {
    font-size: 10px;
    background-color: rgba(46, 156, 240, 1);
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px rgba(46, 156, 240, 1), 0 0 0 1px #ffffff;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}

.tarif__def {
    font-size: 11px;
    margin: 65px;
    text-align: center;
    text-transform: uppercase;
}

.tarifs {
    display: grid;

}

.sidebar {
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 50px; 
    height: 100vh; 
    background-color: #333; 
}

.infos__title {
text-align: center;
font-family: 'MyCustomFont';
font-size: 25px;
}

.infos__undertitle {
    text-align: left;
    font-size: 15px;
}

.infos__undertitle.list {
padding: 20px;
}